<% include ./partials/header %>

<div class="buildpage container-fluid">
	<% include ./partials/navbar %>
    <div class="d-flex flex-column flex-lg-row row">
		<a href="/explore" class="w-75 mx-auto mt-2 text-center text-light p-2 bg-dark bg-gradient border border-light border-2 rounded">Creating a new Unicorn requires 1 Token. Short on Tokens? Visit the Exploration Portal and complete the quest!</a>
        <div class="col-12 col-lg-6 my-2">
            <form action="" name="buildgenerator" class="buildgenerator">
                <ul class="picker-menu nav nav-tabs nav-fill d-flex flex-lg-column justify-content-center my-2 border border-light" id="myTab" role="tablist">
					<button type="button" class="previewButton btn btn-primary bg-primary bg-gradient border border-light border-2 m-1 w-50 mx-auto" id="previewer">
						Preview
					</button><a class="d-inline float-end mx-3"><i class="fas fa-question-circle fa-2x" data-bs-toggle="modal" data-bs-target="#helpModal" data-bs-origin="build" aria-hidden="true" title="Help: Genetic Builder"></i><span class="sr-only">Genetic Builder Instructions</span></a>
					<%- include('partials/geneMenus.ejs') %>
					<%- include('partials/colorSelectors.ejs') %>
					<div id="picker" class="mx-auto p-2"></div>
				</ul>
            </form>
        </div>
        <div class="getpretty col-12 col-lg-6 my-2">
			<%- include('partials/spriteSelector.ejs') %>
			<div class="d-flex justify-content-center">
				<div class="row mx-auto">
					<div id="container" class="col-12"></div>
				</div>
			</div>
			<div id="submits" class="m-2">
				<div class="builderForm">
					<form action="/unicornbuilder" method="POST" enctype="multipart/form-data" name="submitForm">
						<button type="button" id="builderSubmit" class="btn btn-success m-1" name="builderButton" value="" disabled="true">Create New Unicorn (You have <%= loggedInUser.tokens %> tokens)</button>
					</form>
				</div>
				<div class="customizerForm">
					<form action="/unicornbuilder?_method=PUT" method="POST" enctype="multipart/form-data" name="submitForm">
						<button type="button" id="customizerSubmit" class="btn btn-danger m-1" name="customizerButton" value="" disabled="true">Customize Unicorn</button>
					</form>
				</div>
			</div>
        </div>
    </div>
</div>
<% include ./partials/helpModal %>
<script>
	var yourUnicorns = <%- JSON.stringify(loggedInUser.unicorns) %>;
	var yourTokens = <%- JSON.stringify(loggedInUser.tokens) %>;
	
	var dbBreeds = <%- JSON.stringify(Breeds) %>;
	
	var dbGenes = <%- JSON.stringify(Genes) %>;
</script>
<script src="../../scripts/buildvariables.js"></script>
<script src="../../scripts/buildsetup.js"></script>
<script src="../../scripts/build.js"></script>
<script src="../../scripts/buildsubmitscripts.js"></script>
<script src="../../scripts/buildsubmitscript2.js"></script>
<% include ./partials/footer %>
