<% include ./partials/header %>
<div class="h-100 text-center">
    <img class="img-fluid" src="/assets/site_imgs/site_headers/unicornheader.png">
    <div class="container">
        <img src="/assets/site_imgs/site_logos/logo_hi.png" class="img-fluid w-75 m-3" alt="Responsive image">
        <p class="sr-only">Welcome to Sunflame Mountain</p>
        <div>
			<p class="textboxes lead border border-dark p-1">It's nice to meet you, <%= currentUser.username %>. Now you must choose your herd founder. This is the unicorn with whom you'll begin your journey. Follow your instincts and choose carefully. The blue question mark will instruct you on how to use the Genetic Builder. To begin, select the thumbnail for a base species and press Preview; you can also click "View Full-Size" to see the base image in full detail.</p>
			<div class="d-flex flex-row justify-content-center">
				<% Breeds.sort((a, b) => a.publicName.localeCompare(b.publicName)) %>
				<% Breeds.forEach((breed)=>{ %>
				<div class="w-25">
					<button class="btn btn-light">
						<img class="founders card-img-top" src="<%= breed.lineart.baseImg %>" id="<%= breed.id %>" alt="<%= breed.publicName %>">
					</button>
					<button class="btn btn-primary" data-bs-src="<%= breed.lineart.baseImg %>" data-bs-publicname="<%= breed.publicName %>" data-bs-toggle="modal" data-bs-target="#imageModal">View Full-Size</button>
				</div>
				<% }) %>
			</div>
		</div>
    </div>
	<div class="founderpage container-fluid">
		<div class="d-flex flex-column flex-lg-row row">
			<div class="col-12 col-lg-6 my-2">
				<form action="" name="buildgenerator" class="buildgenerator">
					<ul class="picker-menu nav nav-tabs nav-fill d-flex flex-lg-column justify-content-center my-2 border border-light" id="myTab" role="tablist">
						<button type="button" class="previewButton btn btn-primary bg-primary bg-gradient border border-light border-2 m-1 w-50 mx-auto" id="previewer">
							Preview
						</button><a class="d-inline float-end mx-3" data-bs-toggle="modal" data-bs-target="#helpModal" data-bs-origin="build"><i class="fas fa-question-circle fa-2x" aria-hidden="true" title="Help: Genetic Builder"></i><span class="sr-only">Genetic Builder Instructions</span></a>
						<%- include('partials/geneMenus.ejs') %>
						<%- include('partials/colorSelectors.ejs') %>
						<div id="picker" class="mx-auto p-2"></div>
					</ul>
				</form>
			</div>
			<div class="getpretty col-12 col-lg-6 my-2">
				<div class="d-flex justify-content-center">
					<div class="row mx-auto">
						<div id="container" class="col-12"></div>
					</div>
				</div>
				<div id="submits" class="m-2">
					<div class="builderbox" id="targetbox">
						<div class="builderForm">
							<form action="/founder" method="POST" enctype="multipart/form-data" name="submitForm" id="submitform">
								<button type="button" id="founderSubmit" class="btn btn-success w-75" name="builderButton" value="" disabled="true" data-bs-toggle="modal" data-bs-target="#progressPopup">Build</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/progressPopup %>
	<% include ./partials/helpModal %>
	<% include ./partials/imageModal %>
</div>
<script>
	var Breeds = '<%- JSON.stringify(Breeds) %>';
	var parsedBreeds = JSON.parse(Breeds);
	var yourTokens = <%- JSON.stringify(currentUser.tokens) %>;
</script>
<script src="../../scripts/imagemodal.js"></script>
<script src="../../scripts/buildvariables.js"></script>
<script src="../../scripts/buildsetup.js"></script>
<script src="../../scripts/founderbuilder.js"></script>
<script src="../../scripts/buildsubmitscripts.js"></script>
<% include ./partials/footer %> 
