<% include ./partials/header %>
<div class="homepage container-fluid" style="background-image: url(../<%= yourRegion.homeBG %>)">
	<% include ./partials/navbar %>
    <div class="my-5 container">
        <div class="unicorngroup row d-flex justify-content-around m-4">
        	<% yourUnicorns.forEach(function(unicorn){ %>
			<div class="uniSlot col-12 col-sm-6 col-lg-3">
			  	<img class="uniSlot-img card-img-top" src="<%= unicorn.uniPic %>" alt="Card image cap">
			  	<div class="card m-3 p2">
				  	<div class="petcard-body">
					  	<h5 class="card-title"><%= unicorn.name %></h5>
					  	<p class="card-text">Unicorn Stats go here</p>
					  	<button class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#nameModal" data-clickedid="<%= unicorn._id %>"><i class="fas fa-pencil-alt"></i> Name</button>
					  	<a href="/home/unicorn/<%= unicorn._id %>" class="btn btn-outline-dark btn-sm"><i class="fas fa-pencil-alt"></i> Bio</a>
				  	</div>
			  	</div>
			</div>
			<% }); %>  
        </div>
    </div>
</div>



<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Name or Rename Your Unicorn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/home?_method=PUT" method="POST" name="addName">
            <input type="text" name="newName">
            <input id="thisId" name="namedId" value="" type="hidden">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<% include ./partials/footer %>