<% include ./partials/header %>

<div class="unicornpage container-fluid">
	<% include ./partials/navbar %>
	<div class="biobox d-flex justify-content-center flex-column">
		<div class="unicornhere">
			<img src="<%= unicorn.uniPic %>" class="img-fluid">
			<div class="backdrop-options p-2 d-flex flex-column flex-lg-row justify-content-center">
                <div class="dropdown m-1">
				    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Default Backdrops
				    </button>
				    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="#">Arctic</a>
						<a class="dropdown-item" href="#">Mountains</a>
						<a class="dropdown-item" href="#">Forest</a>
						<a class="dropdown-item" href="#">Swamp</a>
						<a class="dropdown-item" href="#">Savannah</a>
						<a class="dropdown-item" href="#">Desert</a>
				    </div>
                </div>
                <div class="dropdown m-1">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Your Backdrops
                    </button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Backdrops</a>
						<a class="dropdown-item" href="#">Backdrops</a>
						<a class="dropdown-item" href="#">Backdrops</a>
                    </div>
                </div>
				<div class="dropdown m-1">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solid-Color Backdrops
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Backdrops</a>
						<a class="dropdown-item" href="#">Backdrops</a>
						<a class="dropdown-item" href="#">Backdrops</a>
                    </div>
                </div>
            </div>
		</div>
		<div class="unicornbio textboxes d-flex flex-column justify-content-center justify-content-lg-around">
			<div class="unicorninfo p-2 m-1">
				<h2 class="unicornname font-italic"><%= unicorn.name %></h2>
				<div class="statsbox">
					<span class="stats">Level: <%= unicorn.lvl %></span>
					<span class="stats">Energy: <%= unicorn.energy %></span>
					<span class="stats">Hunger: <%= unicorn.hunger %></span>
					<span class="stats">Parents: <%= unicorn.parent1 %>, <%= unicorn.parent2 %></span>
				</div>
			</div>
			<div class="unicornlore">
				<fieldset class="lorebox">
					<h3 class="font-italic"><%= unicorn.name %>'s Lore</h3>
					<hr>
					<div class="p-2">
						<%= unicorn.lore %>
					</div>
					<hr>
					<form action="/editlore" method="POST" name="editlore">
						<a href="/home/unicorn/<%= unicorn._id %>/edit" class="btn btn-primary">Edit</a>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
</div>


<% include ./partials/footer %>